*{
    margin : 0;
    border : 0;
    box-sizing: border-box;
}

h1,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: white;
}

.sitename{
   color: blue;
   margin-right:10rem;
}

.nav-link{
   color: black;
   align-items: end;
}

.navbar-toggler{
   background-color: blue;
}

.nav-link{
    margin-right: 15px;
}

.nav-link:hover{
    color: blue;
    font-weight: bold;
}

.btn-log-in{
    color: blueviolet;
    text-decoration: none;
    padding-right: 20px;
}

.intro{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding-top : 100px;  
    padding-bottom: 80px;
    margin-bottom: 80px;
}

.intro h1{
    font-size: 80px;
    font-weight: 700;
    color:white;
}

.intro h2{
    color: wheat;
}

.color-grad{
    background-image: linear-gradient(to right, #6bb7d1, #53b1d9, #3ca9e0, #2da1e8, #3097ed, #3a90f2, #4b89f6, #5f80f7, #6e7afa, #7f73fc, #916afd, #a35ffb);
}


.wave{
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.topic{
    color: blue;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.review{
    margin-bottom: 30px;
}

.review .card{
    margin-left: 200px;
    background-color: aliceblue;
}

.pricing .card{
    background-color: rgb(202, 202, 230);
    border: 2px solid blue;
    height: 27rem;
}

.footer{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 30px;
    color: white;
}

.form{
    margin-block : 30px;
    margin-inline: 100px;
}

.social a , .contact a{
    margin : 5px;
    color: aqua;
}
